<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KSPDVAssistant.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7F352F911F5C7BE100A761E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F352FA71F5C7BE100A761E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F352FB21F5C7BE100A761E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
